cluster.name: elasticsearch

node.name: elasticsearch-1
node.attr.rack: cn-north-1

path.data: /data/elasticsearch
path.logs: /var/log/elasticsearch

bootstrap.memory_lock: true

network.host: 0.0.0.0
http.port: 9200

# discovery.zen.ping.unicast.hosts: ["elasticsearch-1", "elasticsearch-2", "elasticsearch-3"]
# discovery.zen.minimum_master_nodes: 2

# gateway.recover_after_nodes: 2

action.destructive_requires_name: true
